html{
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 100%, rgb(63, 76, 119) 100%);
    font-family: Roboto;
}

.main_heading{
    text-align: center;
    color: white;
}

.questions_container{
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 50%;
    text-align: center;
    justify-content: center;
    
}
.question{
    border: 1px solid;
    border-radius: 20px;
    background-color: white;
}

.answer{
    text-align: center;
    margin: auto;
    overflow-y: scroll;
    max-width: 75ch;
    white-space: break-spaces;
    height: 200px;
    border-radius: 20px;
}
input{
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 10px;
}
textarea{
    margin: auto;
    width: 50%;
    text-align: center;
    border-radius: 20px;
}
.ask{
    margin: auto;
    text-align: center;
    justify-content: center;
}
.ask_textarea{
    text-align: center;
    margin: auto;
    max-width: 75ch;
    height: 200px;
    border-radius: 20px;
    resize: none;
}
.logout{
    color: white;
    
}

li{
    list-style: none;
}
ul{
    display: flex;
    gap: 50px;
    left: 0;
}
.pagination{
    text-align: center;
    justify-content: center;
    display: flex;
    gap: 70px;
    width: 100%;
}
.next_page{
    color: white;
    margin-bottom: 5px;
}
@media only screen and (max-width: 769px) {
.ask_textarea, .answer{
    width: 100%;
}
.question_heading{
    font-size: 18px;
}
.answer{
    font-size: 16px;
    text-align: center;
}
.question{
  width: 100%;
}
.questions_container{
    width: 100%;
}
textarea{
width: 100%;
}
}
